.mat-form-field {
    margin-right: 4px;
}

.module-selection-actions {
    height: 55px; // to center buttons vertically
}

mat-tree-node {
    .module-name {
        &:hover {
            cursor: grab;
        }
    }
}