<mat-card>
    <mat-card-title>{{ 'my-ml.tree-modules.title' | translate }}</mat-card-title>
    <mat-card-subtitle>
        {{ 'my-ml.tree-modules.description' | translate }}
    </mat-card-subtitle>
    <mat-card-content>
        <div class="p-y-4" [formGroup]="formGroupNewNodes">
            <mat-tree cdkDropList (cdkDropListDropped)="drop($event)" class="mat-tree-droplist" [dataSource]="dataSource"
                [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag>
                    <button mat-icon-button disabled></button>
                    <span class="module-name">{{node.module.title}}</span>
                    <button mat-icon-button (click)="viewInfor(node)" *accessCheck="APP_ACTIONS.module['get-one']" matTooltip="{{ 'my-ml.tree-modules.message.view-infor' | translate }}">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button (click)="addNewItem(node)" matTooltip="{{ 'my-ml.tree-modules.message.add-new-child' | translate }}">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteNode(node)" matTooltip="{{ 'my-ml.tree-modules.message.remove-from-tree' | translate }}">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding cdkDrag>
                    <button mat-icon-button disabled></button>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'my-ml.tree-modules.choose-module' | translate }}</mat-label>
                        <mat-select [formControlName]="node._id" (ngModelChange)="onSelectModule($event, node)">
                            <mat-option *ngFor="let module of listModules" [value]="module._id">{{ module.title }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroupNewNodes.get(node._id).invalid">{{ 'my-ml.tree-modules.module-required' | translate }}</mat-error>
                    </mat-form-field>
                    <div class="module-selection-actions">
                        <button mat-button color="primary" (click)="saveNode(node)">{{ 'my-ml.tree-modules.save-new-node' | translate }}</button>
                        <button mat-button (click)="cancelNode(node)">{{ 'my-ml.tree-modules.cancel-new-node' | translate }}</button>
                    </div>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding cdkDrag>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <span class="module-name">{{node.module.title}}</span>
                    <button mat-icon-button (click)="viewInfor(node)" matTooltip="{{ 'my-ml.tree-modules.message.view-infor' | translate }}">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button (click)="addNewItem(node)" matTooltip="{{ 'my-ml.tree-modules.message.add-new-child' | translate }}">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteNode(node)" matTooltip="{{ 'my-ml.tree-modules.message.remove-from-tree' | translate }}">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-tree-node>
            </mat-tree>

            <button mat-button (click)="addNewRoot()">
                <mat-icon>add</mat-icon> {{ 'my-ml.tree-modules.add-root-module' | translate }}
            </button>
            <button mat-button color="primary" (click)="saveTree()">
                <mat-icon>add</mat-icon> {{ 'my-ml.tree-modules.save-tree' | translate }}
            </button>
        </div>
    </mat-card-content>
</mat-card>