<mat-card>
    <mat-card-title>Quyền hệ thống</mat-card-title>
    <mat-card-subtitle>
        Danh sách quyền hệ thống
    </mat-card-subtitle>
    <mat-card-content>
        <div class="p-y-4">
            <mat-form-field class="w-full">
                <input matInput type="text" [(ngModel)]="searchKey" (keyup.enter)="searchPermissions()"
                    placeholder="Tìm kiếm" />
                <button mat-icon-button matSuffix (click)="searchPermissions()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-card-actions>
                <span>
                    <button mat-button color="primary" (click)="open()" *accessCheck="APP_ACTIONS.permission['create']">
                        <mat-icon>add</mat-icon>
                        Thêm mới
                    </button>
                </span>
                <span *accessCheck="APP_ACTIONS.permission['update-status']">
                    <button mat-button *ngIf="isShowLockButton()" color="accent" (click)="changeStatusSelected(1)">
                        <mat-icon>block</mat-icon>
                        Khóa
                    </button>
                </span>
                <span *accessCheck="APP_ACTIONS.permission['update-status']">
                    <button mat-button *ngIf="isShowUnlockButton()" color="success" class="mat-success-outlined" (click)="changeStatusSelected(0)">
                        <mat-icon>lock_open</mat-icon>
                        Mở khóa
                    </button>
                </span>
                <span *accessCheck="APP_ACTIONS.permission['delete-many']">
                    <button mat-button *ngIf="isShowDeleteButton()" color="warn" (click)="delete()">
                        <mat-icon>delete</mat-icon>
                        Xóa
                    </button>
                </span>
            </mat-card-actions>
        </div>
        <ng-container *ngIf="loading; else loaded">
            <app-loading></app-loading>
        </ng-container>
        <ng-template #loaded>
            <ng-container *ngIf="listPermissions.length; else noDataTpl">     
                <div class="check-all-container">
                    <mat-checkbox [(ngModel)]="isAllChecked"
                        (ngModelChange)="toggleCheckAllItems($event)">Tất cả</mat-checkbox>
                </div>           
                <mat-accordion class="list-permission-accordion" multi>
                    <mat-expansion-panel *ngFor="let permission of listPermissions" (afterCollapse)="collapsePermission(permission)" (afterExpand)="expandPermission(permission)">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <mat-checkbox [checked]="isChecked(permission._id)" (click)="stopPropagation($event)"
                              (change)="toggleCheckItem($event.checked, permission._id)">
                              {{ permission.title }}
                            </mat-checkbox>
                          </mat-panel-title>
                          <mat-panel-description>
                            <span class="permission-code-status" *ngIf="window.innerWidth >= 800">
                                <span class="code">{{ permission.code }}</span>
                                <ng-container *ngIf="permission.status; else notActive">
                                    <mat-icon class="active" matTooltip="{{ 'system.common.active' | translate }}">lock_open</mat-icon>
                                </ng-container>
                                <ng-template #notActive>
                                    <mat-icon class="inactive" matTooltip="{{ 'system.common.locked' | translate }}">block</mat-icon>
                                </ng-template>
                            </span>
                            <!-- <mat-icon (click)="open(permission, $event)">edit</mat-icon> -->
                            <button mat-icon-button [matMenuTriggerFor]="menuActions" (click)="stopPropagation($event)" matTooltip="Hành động"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menuActions="matMenu">
                                <button mat-menu-item (click)="open(permission, $event)" *accessCheck="APP_ACTIONS.permission['update']"><mat-icon>edit</mat-icon>Cập nhật</button>
                                <button mat-menu-item (click)="changeStatus(permission)" *accessCheck="APP_ACTIONS.permission['update-status']"><mat-icon>{{ permission.status ? 'block': 'lock_open' }}</mat-icon>{{ permission.status ? 'Khóa': 'Mở khóa' }}</button>
                                <button mat-menu-item class="dropdown-item dropdown-item-accent" (click)="deleteSingle(permission)" *accessCheck="APP_ACTIONS.permission['delete-one']"><mat-icon color="accent">delete</mat-icon>Xóa</button>
                            </mat-menu>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="list-properties">
                            <ng-container *ngIf="window.innerWidth < 800">
                                <div class="permission-property-container">
                                    <div class="property-name">
                                        Mã quyền: 
                                    </div>
                                    <div class="property-value">
                                        {{ permission.code }}
                                    </div>
                                </div>  
                                <div class="permission-property-container">
                                    <div class="property-name">
                                        Trạng thái: 
                                    </div>
                                    <div class="property-value">
                                        <ng-container *ngIf="permission.status; else notActive">
                                            <mat-icon class="active" matTooltip="{{ 'system.common.active' | translate }}">lock_open</mat-icon>
                                        </ng-container>
                                        <ng-template #notActive>
                                            <mat-icon class="inactive" matTooltip="{{ 'system.common.locked' | translate }}">block</mat-icon>
                                        </ng-template>
                                    </div>
                                </div>  
                            </ng-container>
                            <div class="permission-property-container">
                                <div class="property-name">
                                    Ảnh hưởng: 
                                </div>
                                <div class="property-value">
                                    {{ permission.allow ? 'Cho phép': 'Không cho phép' }}
                                </div>
                            </div>                             
                            <div class="permission-property-container">
                                <div class="property-name">
                                    Vai trò: 
                                </div>
                                <div class="property-value">
                                    {{ permission.role._id ? permission.role.title: 'N/A' }}
                                </div>
                            </div>                             
                            <div class="permission-property-container">
                                <div class="property-name">
                                    Mô tả: 
                                </div>
                                <div class="property-value">
                                    {{ permission.description ? permission.description: 'N/A' }}
                                </div>
                            </div>                             
                        </div>
                        <div class="module-actions-container">
                            Danh sách module có ảnh hưởng:
                            <ng-container *ngIf="mapOfModuleActions.get(permission._id)">
                                <ng-container *ngIf="!mapOfModuleActions.get(permission._id).loading; else loadingTpl">
                                    <mat-accordion class="list-module-actions-accordion" *ngIf="mapOfModuleActions.get(permission._id).list && mapOfModuleActions.get(permission._id).list.length; else noDataTpl">            
                                        <mat-expansion-panel *ngFor="let moduleAction of mapOfModuleActions.get(permission._id).displayList">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                  {{ moduleAction.module.title }}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                  {{ moduleAction.module.code }}
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <ng-container *ngTemplateOutlet="listActionsTpl; context: {key: permission._id + '.' + moduleAction.module._id}"></ng-container>
                                        </mat-expansion-panel>          
                                    </mat-accordion>
                                    <mat-paginator [length]="mapOfModuleActions.get(permission._id).list.length" [pageSize]="mapOfModuleActions.get(permission._id).size" [pageIndex]="mapOfModuleActions.get(permission._id).page" (page)="onChangePageModuleActions(permission._id, $event)"
                                        aria-label="Select page">
                                    </mat-paginator>
                                </ng-container>
                            </ng-container>
                        </div>
                      </mat-expansion-panel>
                </mat-accordion>
                <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onChangePage($event)"
                    aria-label="Select page">
                </mat-paginator>
            </ng-container>
        </ng-template>
    </mat-card-content>
</mat-card>

<ng-template #noDataTpl>
    <empty></empty>
</ng-template>

<ng-template #loadingTpl>
    <app-loading></app-loading>
</ng-template>

<ng-template #listActionsTpl let-key="key">
    <div class="list-actions-container">
        <div class="list-actions-header">
            <div class="title">Hành động trong module:</div>
        </div>
        <div class="table-container" *ngIf="mapOfActions.get(key).list.length; else noDataTpl">
            <table mat-table 
                [dataSource]="mapOfActions.get(key).displayList" 
                class="table-module-actions"
            >
                <ng-container [matColumnDef]="column" *ngFor="let column of columnProps; index as i">
                    <th mat-header-cell *matHeaderCellDef>
                        {{displayedColumns[i]}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="column">
                            <div *ngSwitchCase="'status'">
                                <ng-container *ngIf="element[column]; else notActive">
                                    <mat-icon class="active" matTooltip="{{ 'system.common.active' | translate }}">lock_open</mat-icon>
                                </ng-container>
                                <ng-template #notActive>
                                    <mat-icon class="inactive" matTooltip="{{ 'system.common.locked' | translate }}">block</mat-icon>
                                </ng-template>
                            </div>
                            <div *ngSwitchDefault>
                                {{element[column]}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnProps"></tr>
                <tr mat-row *matRowDef="let row; columns: columnProps;"></tr>
            </table>
            <mat-paginator [length]="mapOfActions.get(key).total" [pageSize]="mapOfActions.get(key).size" [pageIndex]="mapOfActions.get(key).page" (page)="onChangePageActions(key, $event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</ng-template>