<mat-card>
    <mat-card-title>Hành động hệ thống</mat-card-title>
    <mat-card-subtitle>
        Danh sách hành động hệ thống
    </mat-card-subtitle>
    <mat-card-content>
        <div class="p-y-4">
            <mat-form-field class="w-full">
                <input matInput type="text" [(ngModel)]="searchKey" (keyup.enter)="searchActions()"
                    placeholder="Tìm kiếm" />
                <button mat-icon-button matSuffix (click)="searchActions()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-card-actions>
                <button mat-button color="primary" (click)="open()" *accessCheck="'action:create'; renderFinished: renderFinished" data-permission="action:create">
                    <mat-icon>add</mat-icon>
                    Thêm mới
                </button>
                <button mat-button *ngIf="isShowLockButton()" color="accent" (click)="changeStatusSelected(1)" data-permission="action:update-status">
                    <mat-icon>block</mat-icon>
                    Khóa
                </button>
                <button mat-button *ngIf="isShowUnlockButton()" color="success" class="mat-success-outlined" (click)="changeStatusSelected(0)" data-permission="action:update-status">
                    <mat-icon>lock_open</mat-icon>
                    Mở khóa
                </button>
                <button mat-button *ngIf="isShowDeleteButton()" color="warn" (click)="delete()" data-permission="action:delete">
                    <mat-icon>delete</mat-icon>
                    Xóa
                </button>
            </mat-card-actions>
        </div>
        <ng-container *ngIf="loading; else loaded">
            <app-loading></app-loading>
        </ng-container>
        <ng-template #loaded>
            <ng-container *ngIf="listActions.length; else noDataTpl">                
                <div class="table-container">
                    <table mat-table [dataSource]="listActions" class="table-action">
                        <ng-container [matColumnDef]="column" *ngFor="let column of columnProps; index as i">
                            <th mat-header-cell *matHeaderCellDef>
                                <ng-container *ngIf="column == 'checkbox'; else notAction">
                                    <mat-checkbox [(ngModel)]="isAllChecked"
                                        (ngModelChange)="toggleCheckAllItems($event)"></mat-checkbox>
                                </ng-container>
                                <ng-template #notAction>
                                    {{displayedColumns[i]}}
                                </ng-template>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div [ngSwitch]="column">
                                    <div *ngSwitchCase="'status'">
                                        <ng-container *ngIf="element[column]; else notActive">
                                            <mat-icon class="active" matTooltip="Đang hoạt động">lock_open</mat-icon>
                                        </ng-container>
                                        <ng-template #notActive>
                                            <mat-icon class="inactive" matTooltip="Bị khóa">block</mat-icon>
                                        </ng-template>
                                    </div>
                                    <div *ngSwitchCase="'checkbox'">
                                        <mat-checkbox [checked]="isChecked(element._id)"
                                        (change)="toggleCheckItem($event.checked, element._id)"></mat-checkbox>
                                    </div>
                                    <div *ngSwitchCase="'dateCreated'">
                                        {{element[column] | date: "dd/MM/yyyy HH:MM"}}
                                    </div>
                                    <div *ngSwitchCase="'actions'">
                                        <button mat-icon-button [matMenuTriggerFor]="menuActions"><mat-icon>more_vert</mat-icon></button>
                                        <mat-menu #menuActions="matMenu">
                                            <button mat-menu-item (click)="open(element)"><mat-icon>edit</mat-icon>Cập nhật</button>
                                            <button mat-menu-item (click)="changeStatus(element)"><mat-icon>{{ element.status ? 'block': 'lock_open' }}</mat-icon>{{ element.status ? 'Khóa': 'Mở khóa' }}</button>
                                            <button mat-menu-item class="dropdown-item dropdown-item-accent" (click)="deleteSingle(element)"><mat-icon color="accent">delete</mat-icon>Xóa</button>
                                        </mat-menu>
                                    </div>
                                    <div *ngSwitchDefault>
                                        {{element[column]}}
                                    </div>
                                </div>
                            </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="columnProps"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnProps;"></tr>
                    </table>
                </div>
                <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onChangePage($event)"
                    aria-label="Select page">
                </mat-paginator>
            </ng-container>
        </ng-template>
    </mat-card-content>
</mat-card>

<ng-template #noDataTpl>
    <empty></empty>
</ng-template>